:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #a4b8c4;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}

html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
} 

img {
  max-width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
}

.logo img {
  width: 60px;
  height: 60px;
}

.logo a {
  text-decoration: none;
  color: var(--font-body);
}

.hero {
  position: relative;
}

.hero .logo {
  position: absolute;
  left: calc(50% - 60px);
  bottom: -10px;
  background-color: white;
}

.logo--square {
  font-size: var(--small-font);
  width: 110px;
  height: 80px;

  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 4px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.logo--square img {
  width: 90px;
  height: 90px;
  margin-top: -1.3em;
}

.logo--square > div {
  margin-top: -1.7em;
}



.category-container {
  padding: 0;
  margin: 60px auto;
  max-width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 15%);
  gap: 8%;
  list-style: none;
  justify-content: center;
}

.category-container li {
  text-align: center;
}

.category-container h3 {
  font-size: 1vw;
}

/* utility classes */
.highlight {
  color: var(--tertiary-color);
}

button {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  margin: auto;
  margin-top: 1em;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
}

.divider {
  border-bottom: 2px solid var(--primary-color);
}

/* End utility classes */

/* Cart icon styles */
.cart {
  padding-top: 1em;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart svg {
  width: 25px;
}

.cart:hover svg {
  fill: gray;
}

/* End cart icon styles */

.mission {
  padding: 0 0.5em;
  /* margin: 0.5em 0; */
  line-height: 1.3;
  max-width: 600px;
  margin: auto;
}

.products {
  padding: 0.5em;
}

.products h2, .divider h2 {
  text-align: center;
}

.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  list-style-type: none;
  padding: 0;
  margin: 0;
  min-width: 200px;

}

.product-list li {
  width: 100%;
}

.product-list a {
  text-decoration: none;
  color: var(--dark-grey);
}

/* Styles for product lists */
.product-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 325px;
  max-width: 250px;
  margin: 0.4em;
  padding: 0.5em;
  border: 1px solid var(--primary-color);
  text-align: center;
}

.product-card a {
  flex-grow: 1;
}

.product-card .quick-view-btn {
  align-self: flex-end;
  margin-bottom : 0.2em;
}

.product-card h2,
.product-card h3,
.product-card p {
  margin: 0.5em 0;
}

.card__brand {
  font-size: var(--small-font);
}

.card__name {
  font-size: 1em;
}

/* End product list card */

.product-detail {
  padding: 1em;
  max-width: 500px;
  margin: auto;
}

.product-detail img {
  width: 100%;
}

/* Start cart list card styles */
.cart-card {
  display: grid;
  grid-template-columns: .5fr 1fr 1fr 1fr;
  font-size: var(--small-font);
  align-items: center;
  gap: 5px;
  max-width: 850px;
  margin: 1em auto;
}

.cart-card__image {
  grid-row: 1/4;
  grid-column: 1;
  padding: 0;
  margin: 0;
}

.cart-card p {
  margin-top: 0;
}

.cart-card .card__name {
  grid-row: 1;
  grid-column: 2/5;
  font-size: 1em;
}

.cart-card__color {
  grid-row: 2;
  grid-column: 2/5;
}

.cart-card__price {
  grid-row: 3;
  grid-column: 2;
  text-align: center;
  font-size: .8em;
}

.cart-card__quantity {
  grid-row: 3;
  grid-column: 3;
  text-align: center;
  font-size: .8em;
}

.cart-card__itemTotal {
  grid-row: 3;
  grid-column: 4;
  font-weight: bold;
  text-align: right;
  font-size: .8em;
  padding: 5px;
}

.cart-item-container {
  width: 90%;
  position: relative;
  margin: 0 auto 20px;
}

.cart-footer {
  display: block;
  background-color: white;
  padding: 10px 0;
  margin: 5px 0;
  text-align: right;
  max-width: 850px;
  margin: 0 auto;
}

.cart-footer p {
  margin-top: 5px;
  font-size: var(--mediums-font);
  font-weight: bold;
  color: var(--dark-grey);

}

.valueDesc {
  font-weight: normal;
  font-size: 90%;
}

.hide {
  display: none !important;
}

/*Cart Animation*/

.bounce {
  animation: bounce 2s;
  animation-play-state: paused;
}

.play-bounce {
  animation-play-state: running;
}

/*alerts*/
.alert-list {
  padding: 10px;
  margin: 10px 0;
}

.alert-list p {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
  }

  60% {
    transform: translateY(-15px);
  }
}

.bounce svg {
  transition: transform 0.2s;
}

@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }

  .mission {
    font-size: 1.2em;
  }

  .cart-card {
    font-size: inherit;
    grid-template-columns: 150px auto 15%;
  }
}

footer {
  font-size: var(--small-font);
  padding: 1em
}

/* Add superscript number to cart if not 0 items*/
.cart {
  position: relative;
}

#superscript {
  line-height: 18px;
  width: 18px;
  border-radius: 50%;
  font-size: x-small;
  color: white;
  background-color: rgb(184, 21, 21);
  position: absolute;
  top: 15px;
  right: -8px;
  z-index: 3;
}

/* Cart remove item button styles*/

.remove-button {
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  color: black;
}

.remove-button:hover {
  color: red;
  border: 1px solid red;
}

button {
  padding: 5px 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #92e7a5;
  color: black;
}

button a {
  color: white;
  text-decoration: none;
}

button a:hover {
  color: black;
}

/*Suggested Price Text*/

.product-card__suggested_price {
  font-style: italic;
}

.strikethrough {
  text-decoration: line-through;
  color: red;
}

/*Modal*/
.modal {
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 15px 20px 30px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Product Details Modal */

.product-modal-content h3 {
  font-size: 30px;
}
.product-modal-content h2 {
  font-size: 24px;
}
.product-modal-content p {
  font-size: 16px;
  margin: 1rem auto;
}

/* Breadcrumb styles */

.breadcrumb-container {
  padding: 10px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.breadcrumb {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.breadcrumb a {
  text-decoration: none;
  color: #007bff;
  margin-right: 5px;
}

.breadcrumb span {
  margin-right: 5px;
}

.breadcrumb .separator {
  margin-right: 5px;
}

/* checkout styles */
.checkout-form, .login-form {
  padding: 0.5em;
  max-width: 550px;
  margin: 0 auto 1em;
  background-color: var(--light-grey);
}

.checkout-form fieldset {
  margin: 1em;
}

legend {
  font-size: 1em;
  font-variant: small-caps;
  font-weight: bold;
  color: var(--secondary-color);
}

.checkout-form label, .login-form label {
  display: block;
  font-size: .8em;
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 0;  
}

.checkout-form input, .login-form input {
  width: 100%;
  height: 1.5em;
  font-size: 1.2em;
  margin: 0;
}

.checkout-summary > ul {
  padding-left: 0;
  list-style-type: none;
  font-size: .9em;
}

.checkout-summary li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkout-summary li:last-child {
  font-weight: bold;
  font-size: larger;
  border-top: 1px solid darkgray;
}

/*Discount Flag*/

.flag-discount {
  border-radius: 11px;
  color: white;
  padding: 5px 10px;
  background: #db0c24;
  font-size: 18px;
  font-style: italic;
}

/*Rotating Recommended Products*/

:root {
  --form-control-color: rebeccapurple;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  font: inherit;
  color: currentColor;
  width: 1.55em;
  height: 1.55em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.95em;
  height: 0.95em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

.recProd {
  height: 600px;
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: 500px 100px;
  grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
}

#carousel {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  width: 100vw;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 600px;
  --items: 5;
  --middle: 3;
  --position: 1;
}

div.item {
  position: absolute;
  width: 300px;
  height: 400px;
  background-color: coral;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r)))
    translateX(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
}

div.item:nth-of-type(1) {
  --offset: 1;
  background-color: #fcac00;
}

div.item:nth-of-type(2) {
  --offset: 2;
  background-color: #ff70a6;
}

div.item:nth-of-type(3) {
  --offset: 3;
  background-color: #ff9770;
}

div.item:nth-of-type(4) {
  --offset: 4;
  background-color: #ffd670;
}

div.item:nth-of-type(5) {
  --offset: 5;
  background-color: #e9ff70;
}

input:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

input:nth-of-type(1):checked ~ main#carousel {
  --position: 1;
}

input:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

input:nth-of-type(2):checked ~ main#carousel {
  --position: 2;
}

input:nth-of-type(3) {
  grid-column: 4 /5;
  grid-row: 2 / 3;
}

input:nth-of-type(3):checked ~ main#carousel {
  --position: 3;
}

input:nth-of-type(4) {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}

input:nth-of-type(4):checked ~ main#carousel {
  --position: 4;
}

input:nth-of-type(5) {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}

input:nth-of-type(5):checked ~ main#carousel {
  --position: 5;
}

.recBuy {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.loginForm {
  max-width: 300px;
  margin: 50px;
}

/*
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
*/